schemes:
  - https
consumes:
  - application/json
produces:
  - application/json
swagger: '2.0'
info:
  description: |
    The following describe Paradex API. Bear in mind that this is still a work in
    progress so all feedback is welcome.
  title: Paradex REST API
  contact: {}
  version: 1.76.3
host: api.prod.paradex.trade
basePath: /v1
paths:
  /account:
    get:
      security:
        - BearerToken: []
      description: |
        Respond with requester's account information
      produces:
        - application/json
      tags:
        - Account
      summary: Get account information
      operationId: get-account
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/responses.AccountSummaryResponse'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/responses.ApiError'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/responses.ApiError'
  /account/profile:
    get:
      security:
        - BearerToken: []
      description: |
        Respond with requester's account information
      produces:
        - application/json
      tags:
        - Account
      summary: Get account profile information
      operationId: get-account-profile
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/responses.AccountProfileResp'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/responses.ApiError'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/responses.ApiError'
  /account/profile/referral_code:
    post:
      security:
        - BearerToken: []
      description: |
        Respond with requester's account information
      produces:
        - application/json
      tags:
        - Account
      summary: Updates account profile fields
      operationId: update-account-profile-referral-code
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/responses.AccountProfileResp'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/responses.ApiError'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/responses.ApiError'
  /account/profile/username:
    post:
      security:
        - BearerToken: []
      description: |
        Respond with requester's account information
      produces:
        - application/json
      tags:
        - Account
      summary: Updates account profile username fields
      operationId: update-account-profile-username
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/responses.AccountProfileResp'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/responses.ApiError'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/responses.ApiError'
  /auth:
    post:
      description: |
        Authenticate using signed payload to get a JWT for usage in other endpoints

        There are multiple valid headers required to be sent as part of this request.

        For onboarding examples, refer to `go`, `java` and `python` code in [code-samples](https://github.com/tradeparadex/code-samples).

        #### StarkNet Message Hash and Signature

        Inspired by [EIP-712](https://eips.ethereum.org/EIPS/eip-712),
        (a standard for hashing and signing typed structured data)
        the encoding of an off-chain message is defined as:

        `signed_data = Enc[PREFIX_MESSAGE, domain_separator, account, hash_struct(message)]`

        where:

        - `PREFIX_MESSAGE = "StarkNet Message"`
        - `domain_separator` is defined as the `hash_struct` of the StarkNetDomain struct:
          * Struct contains: `name`, `chainId` and `version`
          * `chainId` is can be obtained calling `GET /system/config`
        - `account` is the StarkNet account address
        - The message to be hashed is represented as a struct
          * `hash_struct(message) = Enc[type_hash(MyStruct), Enc[param1], ..., Enc[paramN]]`
          * where `type_hash` is defined as in EIP-712 (but using `selector` instead of `keccak`)
          * More details on StarkNet - [Hash Functions](https://docs.starknet.io/documentation/architecture_and_concepts/Hashing/hash-functions/)

        In case of more complex structure of object, you have to work in the spirit of EIP-712.
        This json structure has 4 mandatory items: `types`, `primaryType`, `domain` and `message`.
        These items are designed to be able to be an interface with a wallet.
        At sign request, the wallet will display:

        - `message` will be displayed at the bottom of the wallet display,
        showing clearly (not in hex) the message to sign.
        Its structure has to be in accordance with the type listed in primaryType,
        defined in types.
        - `domain` will be shown above the message.
        Its structure has to be in accordance with `StarkNetDomain`.

        The predefined types that you can use :

        - `felt` : for an integer on 251 bits.
        - `felt*` : for an array of felt.
        - `string` : for a shortString of 31 ASCII characters max.
        - `selector` : for a name of a smart contract function.
        - `merkletree` : for a Root of a Merkle tree, calculated with the provided data.

        Specification details: [Signing transactions and off-chain messages](https://github.com/argentlabs/argent-x/discussions/14)

        #### Message Hash Sample Code

        For a complete `message_hash` example, refer to `python` code in [code-samples](https://github.com/tradeparadex/code-samples).

        > Examples:

        ```json
        {
          "paradex-signature-expiration": 1682364556,
          "paradex-starknet-account": "0x129f3dc1b8962d8a87abc692424c78fda963ade0e1cd17bf3d1c26f8d41ee7a",
          "paradex-starknet-signature": [
            "1381323390094460587764867648394252677239485992175346764030313478865763678671",
            "396490140510115262427678549757564216013606350105112805717359873954984880589"
          ],
          "paradex-timestamp": 1681759756
        }
        ```
      produces:
        - application/json
      tags:
        - Authentication
      summary: Get JWT
      operationId: auth
      parameters:
        - type: string
          description: Starknet account
          name: PARADEX-STARKNET-ACCOUNT
          in: header
          required: true
        - type: string
          description: Starknet signature
          name: PARADEX-STARKNET-SIGNATURE
          in: header
          required: true
        - type: string
          description: Timestamp when the signature was created
          name: PARADEX-TIMESTAMP
          in: header
          required: true
        - type: string
          description: Timestamp when signature expires (default 30 min | Max 1 week)
          name: PARADEX-SIGNATURE-EXPIRATION
          in: header
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/responses.AuthResp'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/responses.ApiError'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/responses.ApiError'
  /balance:
    get:
      security:
        - BearerToken: []
      description: |
        Respond with requester's own balances
      produces:
        - application/json
      tags:
        - Account
      summary: List balances
      operationId: get-balance
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/responses.GetBalancesResp'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/responses.ApiError'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/responses.ApiError'
  /bbo/{market}:
    get:
      description: |
        Get the best bid/ask for the given market
      produces:
        - application/json
      tags:
        - Markets
      summary: Get market bbo
      operationId: get-bbo
      parameters:
        - type: string
          description: 'Market symbol - ex: BTC-USD-PERP'
          name: market
          in: path
          required: true
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/responses.BBOResp'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/responses.ApiError'
  /fills:
    get:
      security:
        - BearerToken: []
      description: "This API returns a list of matched orders (i.e. fills) that have been sent to\r\nchain for settlement.\r\n"
      produces:
        - application/json
      tags:
        - Account
      summary: List fills
      parameters:
        - type: string
          description: Returns the ‘next’ paginated page.
          name: cursor
          in: query
        - type: integer
          description: End Time (unix time millisecond)
          name: end_at
          in: query
        - type: string
          name: market
          in: query
        - maximum: 5000
          minimum: 1
          type: integer
          default: 100
          description: Limit the number of responses in the page
          name: page_size
          in: query
        - type: integer
          description: Start Time (unix time millisecond)
          name: start_at
          in: query
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/responses.GetFillsResp'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/responses.ApiError'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/responses.ApiError'
  /funding/data:
    get:
      description: |
        List historical funding data by market
      produces:
        - application/json
      tags:
        - Markets
      summary: Funding data history
      operationId: get-funding-data
      parameters:
        - type: string
          description: Returns the ‘next’ paginated page.
          name: cursor
          in: query
        - type: integer
          description: End Time (unix time millisecond)
          name: end_at
          in: query
        - type: string
          example: BTC-USD-PERP
          description: Market for which funding payments are queried
          name: market
          in: query
          required: true
        - maximum: 5000
          minimum: 1
          type: integer
          default: 100
          description: Limit the number of responses in the page
          name: page_size
          in: query
        - type: integer
          description: Start Time (unix time millisecond)
          name: start_at
          in: query
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/responses.FundingDataResp'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/responses.ApiError'
  /funding/payments:
    get:
      security:
        - BearerToken: []
      description: |
        List funding payments made by/to the requester's account

        *Funding payments are periodic payments between traders to make the perpetual
        futures contract price is close to the index price.*
      produces:
        - application/json
      tags:
        - Account
      summary: Funding payments history
      operationId: get-funding
      parameters:
        - type: string
          description: Returns the ‘next’ paginated page.
          name: cursor
          in: query
        - type: integer
          description: End Time (unix time millisecond)
          name: end_at
          in: query
        - type: string
          example: BTC-USD-PERP
          description: Market for which funding payments are queried
          name: market
          in: query
          required: true
        - maximum: 5000
          minimum: 1
          type: integer
          default: 100
          description: Limit the number of responses in the page
          name: page_size
          in: query
        - type: integer
          description: Start Time (unix time millisecond)
          name: start_at
          in: query
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/responses.FundingHistoryResp'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/responses.ApiError'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/responses.ApiError'
  /insurance:
    get:
      description: |
        Get insurance fund account's information
      produces:
        - application/json
      tags:
        - Insurance
      summary: Get insurance fund account information
      operationId: get-insurance-fund
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/responses.InsuranceAccountResp'
  /liquidations:
    get:
      security:
        - BearerToken: []
      description: |
        Retrieves a list of liquidations associated to the requester's account
      produces:
        - application/json
      tags:
        - Liquidations
      summary: List liquidations
      operationId: get-liquidations
      parameters:
        - type: integer
          description: Start Time (unix time millisecond)
          name: from
          in: query
        - type: integer
          description: End Time (unix time millisecond)
          name: to
          in: query
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/responses.GetLiquidations'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/responses.ApiError'
  /markets:
    get:
      description: |
        Get markets static data component
      produces:
        - application/json
      tags:
        - Markets
      summary: List available markets
      operationId: get-markets
      parameters:
        - type: string
          description: 'Market Name - example: BTC-USD-PERP'
          name: market
          in: query
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/responses.GetMarkets'
        '404':
          description: Not Found
          schema:
            $ref: '#/definitions/responses.ApiError'
  /markets/klines:
    get:
      description: Klines for a symbol
      produces:
        - application/json
      tags:
        - Markets
      summary: OHLCV for a symbol
      operationId: markets-klines
      parameters:
        - type: integer
          description: end time for klines in milliseconds
          name: end_at
          in: query
          required: true
        - type: string
          description: 'resolution in minutes: 1, 3, 5, 15, 30, 60'
          name: resolution
          in: query
          required: true
        - type: integer
          description: start time for klines in milliseconds
          name: start_at
          in: query
          required: true
        - type: string
          description: Symbol of the market pair
          name: symbol
          in: query
          required: true
      responses:
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/responses.ApiError'
  /markets/summary:
    get:
      description: |
        Get markets dynamic data component
      produces:
        - application/json
      tags:
        - Markets
      summary: List available markets summary
      operationId: get-markets-summary
      parameters:
        - type: integer
          description: End Time (unix time millisecond)
          name: end
          in: query
        - type: string
          example: BTC-USD-PERP
          description: Name of the market for which summary is requested (for all available markets use ALL)
          name: market
          in: query
          required: true
        - type: integer
          description: Start Time (unix time millisecond)
          name: start
          in: query
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/responses.GetMarketSummary'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/responses.ApiError'
  /onboarding:
    post:
      description: |
        Onboarding verifies that the caller owns the StarkNet address and enters them
        into the database. This call is idempotent.
      produces:
        - application/json
      tags:
        - Authentication
      summary: Onboarding
      operationId: onboarding
      parameters:
        - type: string
          description: Ethereum account used to onboard
          name: PARADEX-ETHEREUM-ACCOUNT
          in: header
          required: true
        - type: string
          description: Starknet address
          name: PARADEX-STARKNET-ACCOUNT
          in: header
          required: true
        - type: string
          description: Starknet signature
          name: PARADEX-STARKNET-SIGNATURE
          in: header
          required: true
        - description: Onboarding user public_key
          name: request
          in: body
          required: true
          schema:
            $ref: '#/definitions/requests.Onboarding'
      responses:
        '200':
          description: An empty response
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/responses.ApiError'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/responses.ApiError'
  /orderbook/{market}:
    get:
      description: |
        Get snapshot of the orderbook for the given market
      produces:
        - application/json
      tags:
        - Markets
      summary: Get market orderbook
      operationId: get-orderbook
      parameters:
        - type: string
          description: 'Market symbol - ex: BTC-USD-PERP'
          name: market
          in: path
          required: true
        - type: integer
          default: 20
          description: Depth
          name: depth
          in: query
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/responses.AskBidArray'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/responses.ApiError'
  /orders:
    get:
      security:
        - BearerToken: []
      description: |
        Get current user all open orders
      tags:
        - Orders
      summary: Get open orders
      operationId: get-open-orders
      parameters:
        - type: string
          description: 'Market symbol, ex: BTC-USD-PERP'
          name: market
          in: query
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/responses.GetOpenOrders'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/responses.ApiError'
    post:
      security:
        - BearerToken: []
      description: |
        Open a new order
      produces:
        - application/json
      tags:
        - Orders
      summary: Create order
      operationId: orders-new
      parameters:
        - description: Order content
          name: params
          in: body
          required: true
          schema:
            $ref: '#/definitions/requests.OrderRequest'
      responses:
        '201':
          description: Created
          schema:
            $ref: '#/definitions/responses.OrderResp'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/responses.ApiError'
    delete:
      security:
        - BearerToken: []
      produces:
        - application/json
      tags:
        - Orders
      summary: Cancel all open orders
      operationId: orders-cancel-all
      parameters:
        - type: string
          description: Market to cancel orders for
          name: market
          in: query
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/responses.ApiError'
  /orders-history:
    get:
      security:
        - BearerToken: []
      description: |
        Get current user orders filtered on attributes
      produces:
        - application/json
      tags:
        - Orders
      summary: Get orders
      operationId: get-orders
      parameters:
        - type: string
          example: client-id
          description: Unique ID of client generating the order
          name: client_id
          in: query
        - type: string
          description: Returns the ‘next’ paginated page.
          name: cursor
          in: query
        - type: integer
          description: End Time (unix time millisecond)
          name: end_at
          in: query
        - type: string
          example: BTC-USD-PERP
          description: Market for the order
          name: market
          in: query
        - maximum: 5000
          minimum: 1
          type: integer
          default: 100
          description: Limit the number of responses in the page
          name: page_size
          in: query
        - enum:
            - BUY
            - SELL
          type: string
          description: Order side
          name: side
          in: query
        - type: integer
          description: Start Time (unix time millisecond)
          name: start_at
          in: query
        - enum:
            - OPEN
            - CLOSED
            - NEW
          type: string
          description: Order status
          name: status
          in: query
        - enum:
            - LIMIT
            - MARKET
          type: string
          description: Order type
          name: type
          in: query
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/responses.GetOrders'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/responses.ApiError'
  /orders/by_client_id/{client_id}:
    get:
      security:
        - BearerToken: []
      description: |
        Get an order by client id. Only returns orders in `OPEN` status.
      produces:
        - application/json
      tags:
        - Orders
      summary: Get order by client id
      operationId: orders-get-by-client-id
      parameters:
        - type: string
          description: Client Order Id
          name: client_id
          in: path
          required: true
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/responses.OrderResp'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/responses.ApiError'
    delete:
      security:
        - BearerToken: []
      produces:
        - application/json
      tags:
        - Orders
      summary: Cancel open order by client order id
      operationId: orders-cancel-by-client-id
      parameters:
        - type: string
          description: Client Order Id
          name: client_id
          in: path
          required: true
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/responses.ApiError'
  /orders/{order_id}:
    get:
      security:
        - BearerToken: []
      description: |
        Get an order by id. Only return orders in `OPEN` or `NEW` status.
      produces:
        - application/json
      tags:
        - Orders
      summary: Get order
      operationId: orders-get
      parameters:
        - type: string
          description: Order Id
          name: order_id
          in: path
          required: true
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/responses.OrderResp'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/responses.ApiError'
    delete:
      security:
        - BearerToken: []
      produces:
        - application/json
      tags:
        - Orders
      summary: Cancel order
      operationId: orders-cancel
      parameters:
        - type: string
          description: Order Id
          name: order_id
          in: path
          required: true
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/responses.ApiError'
  /points_data/{market}/{program}:
    get:
      security:
        - BearerToken: []
      description: |
        Get latest points data for requester's account
      produces:
        - application/json
      tags:
        - Points
      summary: List latest points data
      operationId: get-points-data
      parameters:
        - type: string
          description: 'Market Name - example: BTC-USD-PERP, ALL'
          name: market
          in: path
          required: true
        - type: string
          description: 'Program Name - example: Maker, Fee'
          name: program
          in: path
          required: true
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/responses.GetPoints'
        '404':
          description: Not Found
          schema:
            $ref: '#/definitions/responses.ApiError'
  /positions:
    get:
      security:
        - BearerToken: []
      description: |
        Get all positions owned by current user
      produces:
        - application/json
      tags:
        - Account
      summary: List open positions
      operationId: get-positions
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/responses.GetPositionsResp'
  /referrals/config:
    get:
      description: |
        Get referral program config data
      produces:
        - application/json
      tags:
        - Referrals
      summary: Get referral config
      operationId: get-referral-config
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/responses.GetReferralConfig'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/responses.ApiError'
  /referrals/summary:
    get:
      security:
        - BearerToken: []
      description: |
        Get latest referree data for requester's account
      produces:
        - application/json
      tags:
        - Referrals
      summary: Get account referral details
      operationId: get-referrals-summary
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/responses.GetReferrals'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/responses.ApiError'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/responses.ApiError'
  /system/config:
    get:
      description: |
        Get clearing and settlement layer config for Paradex
      produces:
        - application/json
      tags:
        - System
      summary: Get system config
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/responses.SystemConfigResponse'
  /system/state:
    get:
      description: |
        Get the current state of the Paradex system
      produces:
        - application/json
      tags:
        - System
      summary: Get system state
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/responses.SystemStateResponse'
  /system/time:
    get:
      description: |
        Get the current time in the Paradex
      produces:
        - application/json
      tags:
        - System
      summary: Get system time (unix milliseconds)
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/responses.SystemTimeResponse'
  /tradebusts:
    get:
      security:
        - BearerToken: []
      description: |
        Retrieves a list of tradebusts associated to the requester's account
      produces:
        - application/json
      tags:
        - Account
      summary: List tradebusts
      operationId: tradebusts
      parameters:
        - type: string
          description: Returns the ‘next’ paginated page.
          name: cursor
          in: query
        - type: integer
          description: End Time (unix time millisecond)
          name: end_at
          in: query
        - maximum: 5000
          minimum: 1
          type: integer
          default: 100
          description: Limit the number of responses in the page
          name: page_size
          in: query
        - type: integer
          description: Start Time (unix time millisecond)
          name: start_at
          in: query
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/responses.GetTradebustsResp'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/responses.ApiError'
  /trades:
    get:
      description: |
        List trades that happened on a given market (trade tape).
      produces:
        - application/json
      tags:
        - Trades
      summary: Trade tape
      operationId: trades
      parameters:
        - type: string
          description: Returns the ‘next’ paginated page.
          name: cursor
          in: query
        - type: integer
          description: End Time (unix time millisecond)
          name: end_at
          in: query
        - type: string
          example: BTC-USD-PERP
          description: Market name
          name: market
          in: query
          required: true
        - maximum: 5000
          minimum: 1
          type: integer
          default: 100
          description: Limit the number of responses in the page
          name: page_size
          in: query
        - type: integer
          description: Start Time (unix time millisecond)
          name: start_at
          in: query
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/responses.GetTradesResp'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/responses.ApiError'
  /transactions:
    get:
      security:
        - BearerToken: []
      description: |
        Retrieves a list of transactions initiated by the user
      produces:
        - application/json
      tags:
        - Account
      summary: List transactions
      operationId: transactions
      parameters:
        - type: string
          description: Returns the ‘next’ paginated page.
          name: cursor
          in: query
        - type: integer
          description: End Time (unix time millisecond)
          name: end_at
          in: query
        - maximum: 5000
          minimum: 1
          type: integer
          default: 100
          description: Limit the number of responses in the page
          name: page_size
          in: query
        - type: integer
          description: Start Time (unix time millisecond)
          name: start_at
          in: query
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/responses.GetTransactionResponse'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/responses.ApiError'
  /transfers:
    get:
      security:
        - BearerToken: []
      produces:
        - application/json
      tags:
        - Transfers
      summary: List account's transfers, i.e. deposits and withdrawals
      operationId: get-transfers
      parameters:
        - type: string
          description: Returns the ‘next’ paginated page.
          name: cursor
          in: query
        - type: integer
          description: End Time (unix time millisecond)
          name: end_at
          in: query
        - maximum: 5000
          minimum: 1
          type: integer
          default: 100
          description: Limit the number of responses in the page
          name: page_size
          in: query
        - type: integer
          description: Start Time (unix time millisecond)
          name: start_at
          in: query
        - enum:
            - PENDING
            - AVAILABLE
            - COMPLETED
            - FAILED
          type: string
          name: status
          in: query
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/responses.GetTransfersResponse'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/responses.ApiError'
definitions:
  requests.Onboarding:
    type: object
    properties:
      public_key:
        description: Public key of the user being onboarded.
        type: string
        example: '0x3d9f2b2e5f50c1aade60ca540368cd7490160f41270c192c05729fe35b656a9'
      referral_code:
        description: Referral code of the user who referred the user being onboarded.
        type: string
        example: cryptofox8
  requests.OrderRequest:
    type: object
    required:
      - instruction
      - market
      - price
      - side
      - signature
      - signature_timestamp
      - size
      - type
    properties:
      client_id:
        description: Unique client assigned ID for the order
        type: string
        maxLength: 64
        example: '123454321'
      flags:
        description: 'Order flags, allow flag: REDUCE_ONLY'
        type: array
        items:
          $ref: '#/definitions/responses.OrderFlag'
      instruction:
        description: Order Instruction, GTC, IOC or POST_ONLY if empty GTC
        type: string
      market:
        description: Market for which order is created
        type: string
        example: BTC-USD-PERP
      price:
        description: Order price
        type: string
        example: '29500.12'
      recv_window:
        description: Order will be created if it is received by API within RecvWindow milliseconds from signature timestamp, minimum is 10 milliseconds
        type: integer
      side:
        description: Order side
        allOf:
          - $ref: '#/definitions/responses.OrderSide'
      signature:
        description: Order Payload signed with STARK Private Key
        type: string
      signature_timestamp:
        description: Timestamp of order creation, used for signature verification
        type: integer
      size:
        description: Size of the order
        type: string
        example: '1.213'
      stp:
        description: Self Trade Prevention, EXPIRE_MAKER, EXPIRE_TAKER or EXPIRE_BOTH, if empty EXPIRE_TAKER
        type: string
      trigger_price:
        description: Trigger price for stop order
        type: string
      type:
        description: Order type
        allOf:
          - $ref: '#/definitions/responses.OrderType'
  responses.AccountProfileResp:
    type: object
    properties:
      is_username_private:
        type: boolean
        example: true
      programs_eligibility:
        $ref: '#/definitions/responses.ProgramsEligibility'
      referral_code:
        type: string
        example: cryptofox8
      referred_by:
        type: string
        example: maxDegen
      username:
        type: string
        example: username
  responses.AccountSummaryResponse:
    type: object
    properties:
      account:
        description: User's starknet account
        type: string
        example: '0x495d2eb5236a12b8b4ad7d3849ce6a203ce21c43f473c248dfd5ce70d9454fa'
      account_value:
        description: Current account value [with unrealized P&Ls]
        type: string
        example: '136285.06918911'
      free_collateral:
        description: Free collateral available (Account value in excess of Initial Margin required)
        type: string
        example: '73276.47229774'
      initial_margin_requirement:
        description: Amount required to open trade for the existing positions
        type: string
        example: '63008.59689218'
      maintenance_margin_requirement:
        description: Amount required to maintain exisiting positions
        type: string
        example: '31597.25239676'
      margin_cushion:
        description: Acc value in excess of maintenance margin required
        type: string
        example: '104687.8167956'
      seq_no:
        description: Unique increasing number (non-sequential) that is assigned to this account update. Can be used to deduplicate multiple feeds
        type: integer
        example: 1681471234972000000
      settlement_asset:
        description: Settlement asset for the account
        type: string
        example: USDC
      status:
        description: Status of the acc - like ACTIVE, LIQUIDATION
        type: string
        example: ACTIVE
      total_collateral:
        description: User's total collateral
        type: string
        example: '123003.62047353'
      updated_at:
        description: Account last updated time
        type: integer
        example: 1681471234972
  responses.ApiError:
    type: object
    properties:
      data:
        description: any additional data related to the error
      error:
        description: unique immutable string identifier for specific error
        allOf:
          - $ref: '#/definitions/responses.ErrorCode'
        example: NOT_ONBOARDED
      message:
        description: detailed description of error and how to address it
        type: string
        example: User has never called /onboarding endpoint
  responses.AskBidArray:
    type: object
    properties:
      asks:
        description: List of Ask sizes and prices
        type: array
        items:
          type: array
          items:
            type: string
      bids:
        description: List of Bid sizes and prices
        type: array
        items:
          type: array
          items:
            type: string
      last_updated_at:
        description: Last update to the orderbook in milliseconds
        type: integer
        example: 1681462770114
      market:
        description: Market name
        type: string
        example: ETH-USD-PERP
      seq_no:
        description: Sequence number of the orderbook
        type: integer
        example: 20784
  responses.AuthResp:
    type: object
    properties:
      jwt_token:
        description: Authentication token
        type: string
        example: eyJhbGciOiJFUzM4NCIsInR5cCI6IkpXVCJ9.eyJ0eXAiOiJhdCtKV1QiLCJleHAiOjE2ODE0NTI5MDcsImlhdCI6MTY4MTQ1MjYwNywiaXNzIjoiUGFyYWRleCBzdGFnaW5nIiwic3ViIjoiMHg0OTVkMmViNTIzNmExMmI4YjRhZDdkMzg0OWNlNmEyMDNjZTIxYzQzZjQ3M2MyNDhkZmQ1Y2U3MGQ5NDU0ZmEifQ.BPihIbGhnnsuPlReqC9x12JFXldpswg5EdA6tTiDQm-_UHaRz_8RfVBqWc2fPN6CzFsXTq7GowZu-2qMxPvZK_fGcxEhTp2k1r8MUxowlUIT4vPu2scCwrsyIujlCAwS
  responses.BBOResp:
    type: object
    properties:
      ask:
        description: Best ask price
        type: string
        example: '30130.15'
      ask_size:
        description: Best ask size
        type: string
        example: '0.05'
      bid:
        description: Best bid price
        type: string
        example: '30112.22'
      bid_size:
        description: Best bid size
        type: string
        example: '0.04'
      last_updated_at:
        description: Last update to the orderbook in milliseconds
        type: integer
        example: 1681493939981
      market:
        description: Symbol of the market
        type: string
        example: BTC-USD-PERP
      seq_no:
        description: Sequence number of the orderbook
        type: integer
        example: 20784
  responses.BalanceResp:
    type: object
    properties:
      last_updated_at:
        description: Balance last updated time
        type: integer
        example: 1681462770114
      size:
        description: Balance amount of settlement token (includes deposits, withdrawals, realized PnL, realized funding, and fees)
        type: string
        example: '123003.620'
      token:
        description: Name of the token
        type: string
        example: USDC
  responses.BridgedToken:
    type: object
    properties:
      decimals:
        type: integer
      l1_bridge_address:
        type: string
      l1_token_address:
        type: string
      l2_bridge_address:
        type: string
      l2_token_address:
        type: string
      name:
        type: string
      symbol:
        type: string
  responses.Delta1CrossMarginParams:
    type: object
    properties:
      imf_base:
        description: Initial Margin Base
        type: string
        example: '0.11'
      imf_factor:
        description: Initial Margin Factor
        type: string
        example: '8001'
      imf_shift:
        description: Initial Margin Shift
        type: string
        example: '0.00021'
      mmf_factor:
        description: Maintenance Margin Factor
        type: string
        example: '0.51'
  responses.ErrorCode:
    type: string
    enum:
      - VALIDATION_ERROR
      - BINDING_ERROR
      - INTERNAL_ERROR
      - NOT_FOUND
      - SERVICE_UNAVAILABLE
      - INVALID_REQUEST_PARAMETER
      - ORDER_ID_NOT_FOUND
      - ORDER_IS_CLOSED
      - ORDER_IS_NOT_OPEN_YET
      - CLIENT_ORDER_ID_NOT_FOUND
      - DUPLICATED_CLIENT_ID
      - INVALID_PRICE_PRECISION
      - INVALID_SYMBOL
      - INVALID_TOKEN
      - INVALID_ETHEREUM_ADDRESS
      - INVALID_ETHEREUM_SIGNATURE
      - INVALID_STARKNET_ADDRESS
      - INVALID_STARKNET_SIGNATURE
      - STARKNET_SIGNATURE_VERIFICATION_FAILED
      - BAD_STARKNET_REQUEST
      - ETHEREUM_SIGNER_MISMATCH
      - ETHEREUM_HASH_MISMATCH
      - NOT_ONBOARDED
      - INVALID_TIMESTAMP
      - INVALID_SIGNATURE_EXPIRATION
      - ACCOUNT_NOT_FOUND
      - INVALID_ORDER_SIGNATURE
      - PUBLIC_KEY_INVALID
      - UNAUTHORIZED_ETHEREUM_ADDRESS
      - ETHEREUM_ADDRESS_ALREADY_ONBOARDED
      - MARKET_NOT_FOUND
      - ALLOWLIST_ENTRY_NOT_FOUND
      - USERNAME_IN_USE
      - GEO_IP_BLOCK
      - ETHEREUM_ADDRESS_BLOCKED
      - PROGRAM_NOT_FOUND
      - INVALID_DASHBOARD
      - MARKET_NOT_OPEN
      - INVALID_REFERRAL_CODE
      - PARENT_ADDRESS_ALREADY_ONBOARDED
      - INVALID_PARENT_ACCOUNT
      - INVALID_VAULT_OPERATOR_CHAIN
      - VAULT_OPERATOR_ALREADY_ONBOARDED
      - VAULT_NAME_IN_USE
    x-enum-comments:
      ErrorCodeString_SignerMismatch: '#nosec G101'
    x-enum-varnames:
      - ErrorCode_Validation
      - ErrorCode_Binding
      - ErrorCode_InternalError
      - ErrorCode_NotFound
      - ErrorCode_ServiceUnavailable
      - ErrorCodeString_InvalidParameter
      - ErrorCodeString_OrderIdNotFound
      - ErrorCodeString_OrderIsClosed
      - ErrorCodeString_OrderIsNotOpenYet
      - ErrorCodeString_ClientOrderIdNotFound
      - ErrorCodeString_DuplicatedClientOrderId
      - ErrorCodeString_InvalidPricePrecision
      - ErrorCodeString_InvalidSymbol
      - ErrorCodeString_InvalidToken
      - ErrorCodeString_BadEthAddress
      - ErrorCodeString_BadEthSignature
      - ErrorCodeString_BadStarkNetAddress
      - ErrorCodeString_BadStarkNetSignature
      - ErrorCodeString_StarknetSigVerificationFailed
      - ErrorCodeString_BadFormatStarknetCall
      - ErrorCodeString_SignerMismatch
      - ErrorCodeString_HashMismatch
      - ErrorCodeString_NotOnboarded
      - ErrorCodeString_BadTimestamp
      - ErrorCodeString_BadExpiration
      - ErrorCodeString_AccountIdNotFound
      - ErrorCodeString_InvalidOrderSignature
      - ErrorCodeString_BadPublicKey
      - ErrorCodeString_UnauthorizedEthAddress
      - ErrorCodeString_EthAddressAlreadyOnboarded
      - ErrorCodeString_MarketNotFound
      - ErrorCodeString_AllowlistNotFound
      - ErrorCodeString_UsernameInUse
      - ErrorCodeString_GeoIPBlock
      - ErrorCodeString_EthAddressBlocked
      - ErrorCodeString_ProgramNotFound
      - ErrorCodeString_InvalidDashboard
      - ErrorCodeString_MarketNotOpen
      - ErrorCodeString_InvalidReferralCode
      - ErrorCodeString_ParentAddressAlreadyOnboarded
      - ErrorCodeString_InvalidParentAccount
      - ErrorCodeString_InvalidVaultOperatorChain
      - ErrorCodeString_VaultOperatorAlreadyOnboarded
      - ErrorCodeString_VaultNameInUse
  responses.FillResult:
    type: object
    properties:
      client_id:
        description: Unique client assigned ID for the order
        type: string
        example: x1234
      created_at:
        description: Fill time
        type: integer
        example: 1681375176910
      fee:
        description: Fee paid by the user
        type: string
        example: '7.56'
      fee_currency:
        description: Asset that fee is charged in
        type: string
        example: USDC
      fill_type:
        description: Fill type, can be FILL or LIQUIDATION
        type: string
        example: FILL
      id:
        description: Unique string ID of fill per FillType
        type: string
        example: '8615262148007718462'
      liquidity:
        description: Maker or Taker
        allOf:
          - $ref: '#/definitions/responses.TraderRole'
      market:
        description: Market name
        type: string
        example: BTC-USD-PERP
      order_id:
        description: Order ID
        type: string
        example: '1681462103821101699438490000'
      price:
        description: Price at which order was filled
        type: string
        example: '30000.12'
      remaining_size:
        description: Remaining size of the order
        type: string
        example: '0.5'
      side:
        description: Taker side
        allOf:
          - $ref: '#/definitions/responses.OrderSide'
      size:
        description: Size of the fill
        type: string
        example: '0.5'
  responses.FundingDataResp:
    type: object
    properties:
      next:
        description: The pointer to fetch next set of records (null if there are no records left)
        type: string
        example: eyJmaWx0ZXIiMsIm1hcmtlciI6eyJtYXJrZXIiOiIxNjc1NjUwMDE3NDMxMTAxNjk5N=
      prev:
        description: The pointer to fetch previous set of records (null if there are no records left)
        type: string
        example: eyJmaWx0ZXIiOnsiTGltaXQiOjkwfSwidGltZSI6MTY4MTY3OTgzNzk3MTMwOTk1MywibWFya2VyIjp7Im1zMjExMD==
      results:
        description: Funding Data Response data list
        type: array
        items:
          $ref: '#/definitions/responses.FundingDataResult'
  responses.FundingDataResult:
    type: object
    properties:
      created_at:
        type: integer
      funding_index:
        type: string
      funding_premium:
        type: string
      funding_rate:
        type: string
      market:
        type: string
  responses.FundingHistoryResp:
    type: object
    properties:
      next:
        description: The pointer to fetch next set of records (null if there are no records left)
        type: string
        example: eyJmaWx0ZXIiMsIm1hcmtlciI6eyJtYXJrZXIiOiIxNjc1NjUwMDE3NDMxMTAxNjk5N=
      prev:
        description: The pointer to fetch previous set of records (null if there are no records left)
        type: string
        example: eyJmaWx0ZXIiOnsiTGltaXQiOjkwfSwidGltZSI6MTY4MTY3OTgzNzk3MTMwOTk1MywibWFya2VyIjp7Im1zMjExMD==
      results:
        description: Funding Response data list
        type: array
        items:
          $ref: '#/definitions/responses.FundingResp'
  responses.FundingResp:
    type: object
    properties:
      created_at:
        description: Funding payments time
        type: integer
        example: 1681375481000
      fill_id:
        description: Unique string ID for the fill that triggered the payment (if any)
        type: string
        example: '8615262148007718462'
      id:
        description: Unique string ID to identify the payment
        type: string
        example: '1681375578221101699352320000'
      index:
        description: Value of the funding index at the time of payment
        type: string
        example: '-2819.53434361'
      market:
        description: Perpetual market against which payment is made
        type: string
        example: BTC-USD-PERP
      payment:
        description: Payment amount in settlement asset
        type: string
        example: '34.4490622'
  responses.GetBalancesResp:
    type: object
    properties:
      results:
        description: Array of token balances held
        type: array
        items:
          $ref: '#/definitions/responses.BalanceResp'
  responses.GetFillsResp:
    type: object
    properties:
      next:
        description: The pointer to fetch next set of records (null if there are no records left)
        type: string
        example: eyJmaWx0ZXIiMsIm1hcmtlciI6eyJtYXJrZXIiOiIxNjc1NjUwMDE3NDMxMTAxNjk5N=
      prev:
        description: The pointer to fetch previous set of records (null if there are no records left)
        type: string
        example: eyJmaWx0ZXIiOnsiTGltaXQiOjkwfSwidGltZSI6MTY4MTY3OTgzNzk3MTMwOTk1MywibWFya2VyIjp7Im1zMjExMD==
      results:
        description: Fill Results List
        type: array
        items:
          $ref: '#/definitions/responses.FillResult'
  responses.GetLiquidations:
    type: object
    properties:
      results:
        description: List of liquidations
        type: array
        items:
          $ref: '#/definitions/responses.LiquidationResp'
  responses.GetMarketSummary:
    type: object
    properties:
      results:
        description: List of market summaries
        type: array
        items:
          $ref: '#/definitions/responses.MarketSummaryResp'
  responses.GetMarkets:
    type: object
    properties:
      results:
        description: List of available active markets
        type: array
        items:
          $ref: '#/definitions/responses.MarketResp'
  responses.GetOpenOrders:
    type: object
    properties:
      results:
        description: Orders list
        type: array
        items:
          $ref: '#/definitions/responses.OrderResp'
  responses.GetOrders:
    type: object
    properties:
      next:
        description: The pointer to fetch next set of records (null if there are no records left)
        type: string
        example: eyJmaWx0ZXIiMsIm1hcmtlciI6eyJtYXJrZXIiOiIxNjc1NjUwMDE3NDMxMTAxNjk5N=
      prev:
        description: The pointer to fetch previous set of records (null if there are no records left)
        type: string
        example: eyJmaWx0ZXIiOnsiTGltaXQiOjkwfSwidGltZSI6MTY4MTY3OTgzNzk3MTMwOTk1MywibWFya2VyIjp7Im1zMjExMD==
      results:
        description: List of Orders
        type: array
        items:
          $ref: '#/definitions/responses.OrderResp'
  responses.GetPoints:
    type: object
    properties:
      results:
        description: List of available active markets
        type: array
        items:
          $ref: '#/definitions/responses.PointsResp'
  responses.GetPositionsResp:
    type: object
    properties:
      results:
        type: array
        items:
          $ref: '#/definitions/responses.PositionResp'
  responses.GetReferralConfig:
    type: object
    properties:
      results:
        description: List of referral config
        type: array
        items:
          $ref: '#/definitions/responses.ReferralConfigResp'
  responses.GetReferrals:
    type: object
    properties:
      results:
        description: List of referral details
        type: array
        items:
          $ref: '#/definitions/responses.ReferralsResp'
  responses.GetTradebustsResp:
    type: object
    properties:
      next:
        description: The pointer to fetch next set of records (null if there are no records left)
        type: string
        example: eyJmaWx0ZXIiMsIm1hcmtlciI6eyJtYXJrZXIiOiIxNjc1NjUwMDE3NDMxMTAxNjk5N=
      prev:
        description: The pointer to fetch previous set of records (null if there are no records left)
        type: string
        example: eyJmaWx0ZXIiOnsiTGltaXQiOjkwfSwidGltZSI6MTY4MTY3OTgzNzk3MTMwOTk1MywibWFya2VyIjp7Im1zMjExMD==
      results:
        description: List of tradebusts
        type: array
        items:
          $ref: '#/definitions/responses.TradebustResult'
  responses.GetTradesResp:
    type: object
    properties:
      next:
        description: The pointer to fetch next set of records (null if there are no records left)
        type: string
        example: eyJmaWx0ZXIiMsIm1hcmtlciI6eyJtYXJrZXIiOiIxNjc1NjUwMDE3NDMxMTAxNjk5N=
      prev:
        description: The pointer to fetch previous set of records (null if there are no records left)
        type: string
        example: eyJmaWx0ZXIiOnsiTGltaXQiOjkwfSwidGltZSI6MTY4MTY3OTgzNzk3MTMwOTk1MywibWFya2VyIjp7Im1zMjExMD==
      results:
        description: List of trade details
        type: array
        items:
          $ref: '#/definitions/responses.TradeResult'
  responses.GetTransactionResponse:
    type: object
    properties:
      next:
        description: The pointer to fetch next set of records (null if there are no records left)
        type: string
        example: eyJmaWx0ZXIiMsIm1hcmtlciI6eyJtYXJrZXIiOiIxNjc1NjUwMDE3NDMxMTAxNjk5N=
      prev:
        description: The pointer to fetch previous set of records (null if there are no records left)
        type: string
        example: eyJmaWx0ZXIiOnsiTGltaXQiOjkwfSwidGltZSI6MTY4MTY3OTgzNzk3MTMwOTk1MywibWFya2VyIjp7Im1zMjExMD==
      results:
        description: List of transaction responses
        type: array
        items:
          $ref: '#/definitions/responses.TransactionResponse'
  responses.GetTransfersResponse:
    type: object
    properties:
      next:
        description: The pointer to fetch next set of records (null if there are no records left)
        type: string
        example: eyJmaWx0ZXIiMsIm1hcmtlciI6eyJtYXJrZXIiOiIxNjc1NjUwMDE3NDMxMTAxNjk5N=
      prev:
        description: The pointer to fetch previous set of records (null if there are no records left)
        type: string
        example: eyJmaWx0ZXIiOnsiTGltaXQiOjkwfSwidGltZSI6MTY4MTY3OTgzNzk3MTMwOTk1MywibWFya2VyIjp7Im1zMjExMD==
      results:
        description: List of transaction responses
        type: array
        items:
          $ref: '#/definitions/responses.TransferResult'
  responses.InsuranceAccountResp:
    type: object
    properties:
      account:
        description: Starknet address of the Insurance fund
        type: string
        example: '0x495d2eb5236a12b8b4ad7d3849ce6a203ce21c43f473c248dfd5ce70d9454fa'
      account_value:
        description: Total account value of insurance fund
        type: string
        example: '136285.069'
      settlement_asset:
        description: Settlement Asset for the account
        type: string
        example: USDC
      updated_at:
        description: Account last updated time
        type: integer
        example: 1681471234972
  responses.LiquidationResp:
    type: object
    properties:
      created_at:
        description: Liquidation created at timestamp
        type: integer
        example: 1697213130097
      id:
        description: Liquidation transaction hash
        type: string
        example: '0x123456789'
  responses.MarketResp:
    type: object
    properties:
      asset_kind:
        description: Type of asset
        type: string
        example: PERP
      base_currency:
        description: Base currency of the market pair
        type: string
        example: ETH
      clamp_rate:
        description: Clamp rate
        type: string
        example: '0.05'
      delta1_cross_margin_params:
        description: Delta1 Cross margin parameters
        allOf:
          - $ref: '#/definitions/responses.Delta1CrossMarginParams'
      expiry_at:
        description: Market expiry time
        type: integer
        example: 0
      interest_rate:
        description: Interest rate
        type: string
        example: '0.01'
      max_funding_rate:
        description: Max funding rate
        type: string
        example: '0.05'
      max_funding_rate_change:
        description: Max funding rate change
        type: string
        example: '0.0005'
      max_open_orders:
        description: Max open orders
        type: integer
        example: 100
      max_order_size:
        description: Maximum order size
        type: string
        example: '100'
      max_tob_spread:
        description: The maximum TOB spread allowed to apply funding rate changes
        type: string
        example: '0.2'
      min_notional:
        description: Minimum order size in USD
        type: string
        example: '10'
      open_at:
        description: Market open time in milliseconds
        type: integer
        example: 0
      oracle_ewma_factor:
        description: Oracle EWMA factor
        type: string
        example: '0.2'
      order_size_increment:
        description: Minimum size increment for base currency
        type: string
        example: '0.001'
      position_limit:
        description: Position limit
        type: string
        example: '500'
      price_bands_width:
        description: Price Bands Width, 0.05 means 5% price deviation allowed from mark price
        type: string
        example: '0.05'
      price_feed_id:
        description: Price feed id. Pyth price account used to price underlying asset
        type: string
        example: GVXRSBjFk6e6J3NbVPXohDJetcTjaeeuykUpbQF8UoMU
      price_tick_size:
        description: Minimum price increment of the market in USD
        type: string
        example: '0.01'
      quote_currency:
        description: Quote currency of the market pair
        type: string
        example: USD
      settlement_currency:
        description: Settlement currency of the market pair
        type: string
        example: USDC
      symbol:
        description: Market symbol
        type: string
        example: ETH-USD-PERP
  responses.MarketSummaryResp:
    type: object
    properties:
      ask:
        description: Last ask price
        type: string
        example: '30130.15'
      bid:
        description: Last bid price
        type: string
        example: '30112.22'
      created_at:
        description: Market summary creation time
        type: integer
      funding_rate:
        description: Funding rate 24hr
        type: string
        example: '0.3'
      last_traded_price:
        description: Last traded price for the given market
        type: string
        example: '30109.53'
      mark_price:
        description: Computed oracle price for the market
        type: string
        example: '29799.70877478'
      open_interest:
        description: Open interest in base currency
        type: string
        example: '6100048.3'
      oracle_price:
        description: DEPRECATED as of 16.02.2024 - use mark_price instead
        type: string
        example: '29799.70877478'
      price_change_rate_24h:
        description: Price change rate in the last 24 hours
        type: string
        example: '0.05'
      symbol:
        description: Symbol of the market pair
        type: string
        example: BTC-USD-PERP
      total_volume:
        description: Total all time volume for the market in USD
        type: string
        example: '141341.0424'
      underlying_price:
        description: Underlying asset price
        type: string
        example: '29876.3'
      volume_24h:
        description: 24 hour volume in USD
        type: string
        example: '47041.0424'
  responses.OrderFlag:
    type: string
    enum:
      - REDUCE_ONLY
    x-enum-varnames:
      - FlagsReduceOnly
  responses.OrderInstruction:
    type: string
    enum:
      - GTC
      - POST_ONLY
      - IOC
    x-enum-varnames:
      - OrderInstructionGTC
      - OrderInstructionPostOnly
      - OrderInstructionIOC
  responses.OrderResp:
    type: object
    properties:
      account:
        description: Account identifier (user's account address)
        type: string
        example: 0x4638e3041366aa71720be63e32e53e1223316c7f0d56f7aa617542ed1e7512x
      avg_fill_price:
        description: Average fill price of the order
        type: string
        example: '26000'
      cancel_reason:
        description: Reason for order cancellation if it was closed by cancel
        type: string
        example: NOT_ENOUGH_MARGIN
      client_id:
        description: Client id passed on order creation
        type: string
        example: x1234
      created_at:
        description: Order creation time
        type: integer
        example: 1681493746016
      flags:
        description: 'Order flags, allow flag: REDUCE_ONLY'
        type: array
        items:
          $ref: '#/definitions/responses.OrderFlag'
      id:
        description: Unique order identifier
        type: string
        example: '123456'
      instruction:
        description: OrderInstruction (GTC, IOC, POST_ONLY)
        allOf:
          - $ref: '#/definitions/responses.OrderInstruction'
        example: GTC
      last_updated_at:
        description: Order last update time.  No changes once status=CLOSED
        type: integer
        example: 1681493746016
      market:
        description: Market to which order belongs
        type: string
        example: BTC-USD-PERP
      price:
        description: Order price. 0 for MARKET orders
        type: string
        example: '26000'
      published_at:
        description: Order published to the client time
        type: integer
        example: 1681493746016
      received_at:
        description: Order received from the client time
        type: integer
        example: 1681493746016
      remaining_size:
        description: Remaining size of the order
        type: string
        example: '0'
      seq_no:
        description: Unique increasing number (non-sequential) that is assigned to this order update. Can be used to deduplicate multiple feeds
        type: integer
        example: 1681471234972000000
      side:
        description: Order side
        allOf:
          - $ref: '#/definitions/responses.OrderSide'
      size:
        description: Order size
        type: string
        example: '0.05'
      status:
        description: Order status
        allOf:
          - $ref: '#/definitions/responses.OrderStatus'
      stp:
        description: Self Trade Prevention mode (EXEPIRE_MAKER, EXPIRE_TAKER, EXPIRE_BOTH)
        allOf:
          - $ref: '#/definitions/responses.STPMode'
        example: EXPIRE_MAKER
      timestamp:
        description: Order signature timestamp
        type: integer
        example: 1681493746016
      trigger_price:
        description: Trigger price for stop order
        type: string
        example: '26000'
      type:
        description: Order type
        allOf:
          - $ref: '#/definitions/responses.OrderType'
  responses.OrderSide:
    type: string
    enum:
      - BUY
      - SELL
    x-enum-varnames:
      - OrderSideBuy
      - OrderSideSell
  responses.OrderStatus:
    type: string
    enum:
      - NEW
      - UNTRIGGERED
      - OPEN
      - CLOSED
    x-enum-varnames:
      - OrderStatusNew
      - OrderStatusUntriggered
      - OrderStatusOpen
      - OrderStatusClosed
  responses.OrderType:
    type: string
    enum:
      - MARKET
      - LIMIT
      - STOP_LIMIT
      - STOP_MARKET
    x-enum-varnames:
      - OrderTypeMarket
      - OrderTypeLimit
      - OrderTypeStopLimit
      - OrderTypeStopMarket
  responses.PointsResp:
    type: object
    properties:
      maker_volume_score:
        description: Maker volume score (only applicable for Maker program)
        type: string
        example: '0'
      market:
        description: Symbol of the market
        type: string
        example: ETH-USD-PERP
      market_pool_share:
        description: Share of the market from the pool's points
        type: string
        example: '0.56'
      pool:
        description: Pool name, Tier1 (BTC, ETH) or Tier2 (SOL)
        type: string
        example: Tier1
      previous_updated_at:
        description: Previous update timestamp in milliseconds
        type: integer
        example: 1696291100000
      program:
        description: Program name, Maker or Fee
        type: string
        example: Maker
      quote_quality:
        description: Quote quality (only applicable for Maker program)
        type: string
        example: '71.643'
      sample_ask_quote_quality:
        description: Sample ask quote quality to assess quote quality on ask side (only applicable for Maker program)
        type: string
        example: '673.746'
      sample_bid_quote_quality:
        description: Sample bid quote quality to assess quote quality on bid side (only applicable for Maker program)
        type: string
        example: '82.998'
      sample_quote_quality:
        description: Sample quote quality calculated from bid and ask quote quality (only applicable for Maker program)
        type: string
        example: '260.222'
      score_share:
        description: Score share of the wallet for this market and program for the current interval
        type: string
        example: '0.0123'
      total_accrued_points:
        description: Total points accrued by the wallet for this market and program since the start of the program
        type: string
        example: '1.234'
      total_distributed_points:
        description: Total points distributed across wallets for this market and program since the start of the program
        type: string
        example: '150.231'
      total_market_score:
        description: Total sum of all wallets scores for this market and program
        type: string
        example: '1003.65'
      updated_at:
        description: Last update timestamp in milliseconds
        type: integer
        example: 1696291200000
      wallet_score:
        description: Wallet score based on which the points share is calculated. This will be the LP Score if program=Maker or Fee Score if program=Fee
        type: string
        example: '123.45'
  responses.PositionResp:
    type: object
    properties:
      average_entry_price:
        description: Average entry price
        type: string
        example: '29001.34'
      average_entry_price_usd:
        description: Average entry price in USD
        type: string
        example: '29001.34'
      cached_funding_index:
        description: Position cached funding index
        type: string
        example: '1234.3'
      cost:
        description: Position cost
        type: string
        example: '-10005.4623'
      cost_usd:
        description: Position cost in USD
        type: string
        example: '-10005.4623'
      id:
        description: Unique string ID for the position
        type: string
        example: '1234234'
      last_fill_id:
        description: Last fill ID to which the position is referring
        type: string
        example: '1234234'
      last_updated_at:
        description: Position last update time
        type: integer
        example: 1681493939981
      liquidation_price:
        description: Liquidation price of the position
        type: string
      market:
        description: Market for position
        type: string
        example: BTC-USD-PERP
      realized_pnl:
        description: Realized PNL for the user position
        type: string
        example: '1234.3'
      seq_no:
        description: Unique increasing number (non-sequential) that is assigned to this position update. Can be used to deduplicate multiple feeds
        type: integer
        example: 1681471234972000000
      side:
        description: 'Position Side : Long or Short'
        type: string
        enum:
          - SHORT
          - LONG
      size:
        description: Size of the position with sign (positive if long or negative if short)
        type: string
        example: '-0.345'
      status:
        description: 'Status of Position : Open or Closed'
        type: string
        enum:
          - OPEN
          - CLOSED
      unrealized_funding_pnl:
        description: Unrealized running funding P&L for the position
        type: string
        example: '12.234'
      unrealized_pnl:
        description: Unrealized P&L of the position in the quote asset
        type: string
        example: '-123.23'
  responses.ProgramsEligibility:
    type: object
    properties:
      affiliate:
        type: string
        example: Pending
      fee:
        type: string
        example: 'True'
      maker:
        type: string
        example: 'True'
      referral:
        type: string
        example: 'False'
  responses.ReferralConfigResp:
    type: object
    properties:
      commission_rate:
        description: Commission rate for the referer
        type: string
        example: '0.1'
      commission_volume_cap:
        description: Volume cap for commission
        type: string
        example: '1000000000'
      discount_rate:
        description: Discount rate for the referee
        type: string
        example: '0.1'
      discount_volume_cap:
        description: Volume cap for discount
        type: string
        example: '30000000'
      minimum_volume:
        description: Minimum volume required to be eligible for Program
        type: string
        example: '0.123'
      points_bonus_rate:
        description: Points bonus rate for the referer
        type: string
        example: '0.1'
      points_bonus_volume_cap:
        description: Volume cap for points bonus
        type: string
        example: '30000000'
      referral_type:
        description: Referral type
        type: string
        example: Referral
  responses.ReferralsResp:
    type: object
    properties:
      address:
        description: referee address
        type: string
      created_at:
        description: Joined at timestamp in milliseconds
        type: integer
        example: 1715592690488
      referral_code:
        description: Referral code used to onboard the referee
        type: string
        example: maxdegen01
      referral_rewards:
        description: Total referral commission earned from the fee of referee
        type: string
        example: '0.123'
      volume_traded:
        description: Total volume traded by referee
        type: string
        example: '0.123'
  responses.STPMode:
    type: string
    enum:
      - EXPIRE_MAKER
      - EXPIRE_TAKER
      - EXPIRE_BOTH
    x-enum-comments:
      STPModeExpireBoth: Expire both maker and taker orders if self cross
      STPModeExpireMaker: Expire maker orders if self cross
      STPModeExpireTaker: Expire taker orders if self cross
    x-enum-varnames:
      - STPModeExpireMaker
      - STPModeExpireTaker
      - STPModeExpireBoth
  responses.SystemConfigResponse:
    type: object
    properties:
      block_explorer_url:
        description: Block explorer URL for the current SN Instance
        type: string
        example: https://voyager.testnet.paradex.trade/
      bridged_tokens:
        description: |-
          bridged tokens config
          https://github.com/starknet-io/starknet-addresses/blob/master/bridged_tokens/goerli.json
        type: array
        items:
          $ref: '#/definitions/responses.BridgedToken'
      environment:
        description: Environment of the Paradex Instance
        type: string
        example: local
      l1_chain_id:
        description: L1 chain ID value
        type: string
        example: '5'
      l1_core_contract_address:
        description: Address of Starknet L1 core contract
        type: string
        example: '0x182FE62c57461d4c5Ab1aE6F04f1D51aA1607daf'
      l1_operator_address:
        description: Address of Starknet L1 operator
        type: string
        example: '0x63e762538C70442758Fd622116d817761c94FD6A'
      liquidation_fee:
        description: Liquidation fee
        type: string
        example: '0.20'
      oracle_address:
        description: Oracle contract address
        type: string
        example: '0x47c622ce5f7ff7fa17725df596f4f506364e49be0621eb142a75b44ee3689c6'
      paraclear_account_hash:
        description: Class hash of the account contract
        type: string
        example: '0x033434ad846cdd5f23eb73ff09fe6fddd568284a0fb7d1be20ee482f044dabe2'
      paraclear_account_proxy_hash:
        description: Proxy hash of the account contract
        type: string
        example: '0x3530cc4759d78042f1b543bf797f5f3d647cde0388c33734cf91b7f7b9314a9'
      paraclear_address:
        description: Paraclear contract address
        type: string
        example: '0x4638e3041366aa71720be63e32e53e1223316c7f0d56f7aa617542ed1e7554d'
      paraclear_decimals:
        type: integer
      starknet_chain_id:
        description: Chain ID for the Starknet Instance
        type: string
        example: SN_CHAIN_ID
      starknet_fullnode_rpc_url:
        description: Full node RPC URL from Starknet
        type: string
        example: https://pathfinder.api.testnet.paradex.trade/rpc/v0_7
      starknet_gateway_url:
        description: Feeder Gateway URL from Starknet
        type: string
        example: https://potc-testnet-02.starknet.io
      universal_deployer_address:
        description: Universal deployer address
        type: string
        example: '0x1f3f9d3f1f0b7f3f9f3f9f3f9f3f9f3f9f3f9f3f'
  responses.SystemStateResponse:
    type: object
    properties:
      status:
        description: Status of the system
        allOf:
          - $ref: '#/definitions/responses.SystemStatus'
        example: ok
  responses.SystemStatus:
    type: string
    enum:
      - ok
      - maintenance
      - cancel_only
    x-enum-varnames:
      - SystemStatusOk
      - SystemStatusMaintenance
      - SystemStatusCancelOnly
  responses.SystemTimeResponse:
    type: object
    properties:
      server_time:
        description: Paradex Server time
        type: string
        example: '1681493415023'
  responses.TradeResult:
    type: object
    properties:
      created_at:
        description: Unix Millisecond timestamp at which trade was done
        type: integer
        example: 1681497002041
      id:
        description: Unique Trade ID per TradeType
        type: string
        example: '12345643'
      market:
        description: Market for which trade was done
        type: string
        example: BTC-USD-PERP
      price:
        description: Trade price
        type: string
        example: '30001.2'
      side:
        description: Taker side
        allOf:
          - $ref: '#/definitions/responses.OrderSide'
      size:
        description: Trade size
        type: string
        example: '0.01'
      trade_type:
        description: Trade type, can be FILL or LIQUIDATION
        type: string
        example: FILL
  responses.TradebustResult:
    type: object
    properties:
      account:
        description: Starknet Account from which fill was created
        type: string
        example: '0x495d2eb5236a12b8b4ad7d3849ce6a203ce21c43f473c248dfd5ce70d9454fa'
      busted_fill_id:
        description: Unique string ID of the busted fill
        type: string
        example: '12342345'
      created_at:
        description: Unix Millis timestamp when bust was created
        type: integer
        example: 1681497002041
  responses.TraderRole:
    type: string
    enum:
      - TAKER
      - MAKER
    x-enum-varnames:
      - TraderRoleTaker
      - TraderRoleMaker
  responses.TransactionResponse:
    type: object
    properties:
      completed_at:
        description: Timestamp from when the transaction was completed
        type: integer
      created_at:
        description: Timestamp from when the transaction was sent to blockchain gateway
        type: integer
      hash:
        description: Tx Hash of the settled trade                                                // Hash of the transaction
        type: string
        example: '0x445c05d6bfb899e39338440d199971c4d7f4cde7878ed3888df3f716efb8df2'
      id:
        description: Unique string ID of the event that triggered the transaction. For example, fill ID or liquidation ID
        type: string
        example: '12342423'
      state:
        description: Status of the transaction on Starknet
        type: string
        enum:
          - ACCEPTED_ON_L1
          - ACCEPTED_ON_L2
          - NOT_RECEIVED
          - RECEIVED
          - REJECTED
          - REVERTED
      type:
        description: Event that triggered the transaction
        type: string
        enum:
          - TRANSACTION_FILL
          - TRANSACTION_LIQUIDATE
          - TRANSACTION_SETTLE_MARKET
  responses.TransferBridge:
    type: string
    enum:
      - ''
      - STARKGATE
      - LAYERSWAP
      - RHINOFI
    x-enum-varnames:
      - TransferBridgeUnspecified
      - TransferBridgeStarkgate
      - TransferBridgeLayerswap
      - TransferBridgeRhinofi
  responses.TransferKind:
    type: string
    enum:
      - DEPOSIT
      - WITHDRAWAL
    x-enum-varnames:
      - TransferKindDeposit
      - TransferKindWithdrawal
  responses.TransferResult:
    description: TransferResult
    type: object
    properties:
      account:
        description: Starknet Account address
        type: string
        example: '0x495d2eb5236a12b8b4ad7d3849ce6a203ce21c43f473c248dfd5ce70d9454fa'
      amount:
        description: Transferred amount
        type: string
        example: '100'
      bridge:
        description: Bridge used for the transfer
        allOf:
          - $ref: '#/definitions/responses.TransferBridge'
        example: STARKGATE
      created_at:
        description: Unix Millis timestamp transfer was created on L2
        type: integer
        example: 1681497002041
      external_account:
        description: External chain account address
        type: string
        example: '0x495d2eb5236a12b8b4ad7d3849ce6a203ce21c43f473c248dfd5ce70d9454fa'
      external_chain:
        description: External chain used for the transfer
        type: string
        example: ETHEREUM
      external_txn_hash:
        description: Transaction hash on the external chain
        type: string
        example: '0x495d2eb5236a12b8b4ad7d3849ce6a203ce21c43f473c248dfd5ce70d9454fa'
      failure_reason:
        description: Reason for transfer failure
        type: string
        example: Gas fee too low
      id:
        description: Transfer auto-generated ID
        type: string
        example: '123456789'
      kind:
        description: Transfer Kind (DEPOSIT, WITHDRAWAL)
        allOf:
          - $ref: '#/definitions/responses.TransferKind'
        example: DEPOSIT
      last_updated_at:
        description: Unix Millis timestamp transfer was last updated on L2
        type: integer
        example: 1681497002041
      socialized_loss_factor:
        description: Withdrawal's socialized loss factor
        type: string
        example: '0'
      status:
        description: Transfer External State (PENDING, AVAILABLE, COMPLETED, FAILED)
        allOf:
          - $ref: '#/definitions/responses.TransferStatus'
        example: PENDING
      token:
        description: Transferred token name
        type: string
        example: USDC
      txn_hash:
        description: Transaction hash on Paradex chain
        type: string
        example: '0x495d2eb5236a12b8b4ad7d3849ce6a203ce21c43f473c248dfd5ce70d9454fa'
  responses.TransferStatus:
    type: string
    enum:
      - PENDING
      - AVAILABLE
      - COMPLETED
      - FAILED
    x-enum-comments:
      TransferStatusAvailable: 'Action is required from user: For Withdrawals refers to L2 txn status being `ACCEPTED_ON_L1` and funds available for collection on Ethereum bridge. For Deposits refers to funds being available in the L2 account, ready to be deposited to Paraclear contract.'
      TransferStatusCompleted: 'Transfer has completed (final state): For Withdrawals funds have been collected and have moved to the requested Ethereum account; refers to L1 bridge withdraw txn status `SUCCESS`. For Deposits funds have become available in Paradex; refers to the L2 txn status being `ACCEPTED_ON_L2`.'
      TransferStatusFailed: L2 txn calling Paraclear contract failed with `REJECTED` or `REVERTED` status. Deposits can be retried when they fail by repeating the L2 txn.
      TransferStatusPending: 'L2 txn calling Paraclear contract is in flight: For Withdrawals it''s the initial status; refers to the L2 txn status being `RECEIVED`, `PENDING`, `ACCEPTED_ON_L2`. For Deposits refers to L2 txn status being `RECEIVED`, `PENDING`.'
    x-enum-varnames:
      - TransferStatusPending
      - TransferStatusAvailable
      - TransferStatusCompleted
      - TransferStatusFailed
securityDefinitions:
  BearerToken:
    type: apiKey
    name: Authorization
    in: header
x-hideTryItPanel: true
